body {
    background-color:rgb(45, 51, 59);
    color: aliceblue;
    text-align: center;
    padding: 1em;
    margin: 2em;
}

*{
    font-family: 'Poppins', sans-serif;
}

div{
    font-size: 1.02em;
}

h1 {
    font-family: 'Poppins', Times, serif;
    font-size: 2em;
}




