button {
	background-color: #f0fcfb;
	border-radius: 10px;
	font-family: Inter, sans-serif;
	margin: 0.1em;
	padding: 0.3em;
	transition-duration: 10ms;
	background-color: #f0fcfb;
	border: 2px solid #111;
	border-bottom: #000000 5px solid;
	border-right: #000000 5px solid;
}

button:hover {
	border: 2px solid #383838;
	border-bottom: #383838 5px solid;
	border-right: #383838 5px solid;
	background-color: #aebebe;
	transform: translateY(-2px);
}
