h1 {
    color: aliceblue;
    font-style: italic;
    font-size: 3em;
    text-align: center;
}

body{
    background-color: #2d333b;
    color: aliceblue;
    justify-self: center;
    font-size: 1em;
}

.note {
    padding-top: 3px;
    font-size: 1.1em;
}

.error {
    background-color: rgba(58, 6, 6, 0.986);
    color: rgb(255, 214, 214);
    margin: 3em;
    padding: 1.2em;
    border-radius: 50px;
}

a {
    text-decoration: underline;
    color: aliceblue;
}